<ng-template #loading>
    <div class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

<ng-container *ngIf="movie$ | async as movie; else loading">
    <div class="trailer-section">
        <h2>Watch Trailer</h2>
        <div class="trailer-wrapper">
            <iframe [src]="trailerUrl$ | async" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="details-container">
        <div class="details-left">
            <img [src]="movie.posterUrl" class="poster">
        </div>
        <div class="details-right">
            <h1>{{ movie.title }}</h1>
            <div class="meta-info">
                <span class="mpaa-badge">{{ movie.mpaaRating }}</span>
                <span class="genre">{{ movie.genre }}</span>
            </div>

            <div *ngIf="movie.imdbRating; else notReleased">
                <p-rating [ngModel]="movie.imdbRating / 2" [readonly]="true"></p-rating>
                <span>{{ movie.imdbRating }} / 10</span>
            </div>
            <ng-template #notReleased>
                <p>Not yet Released</p>
            </ng-template>

            <p class="description">{{ movie.description }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Producer:</strong> {{ movie.producer }}</p>

            <div *ngIf="movie.status === 'COMING_SOON'" class="release-note">
                <p>This movie is coming soon. Ticket booking will open after release.</p>
            </div>

            <!-- SHOWTIMES SECTION -->
            <div *ngIf="movie.status !== 'COMING_SOON'" class="booking-options">
                <h3>Available Showtimes</h3>

                <div *ngIf="showtimesLoading" class="spinner-container">
                    <p-progressSpinner></p-progressSpinner>
                </div>

                <p *ngIf="showtimesError" class="error-text">{{ showtimesError }}</p>

                <p *ngIf="!showtimesLoading && !showtimesError && showtimes.length === 0" class="empty-message">
                    No showtimes scheduled yet. Check back soon.
                </p>

                <div *ngIf="showtimes.length > 0" class="showtime-options">
                    <label class="radio-option" *ngFor="let st of showtimes">
                        <p-radiobutton name="selectedShowtime" [value]="st" [(ngModel)]="selectedShowtime">
                        </p-radiobutton>
                        <span>{{ formatShowtime(st) }}</span>
                    </label>
                </div>
            </div>

            <br>
            <div class="book-button">
                <button pButton label="Book Tickets" icon="pi pi-ticket"
                    [disabled]="movie.status === 'COMING_SOON' || !selectedShowtime" (click)="goToBooking(movie)">
                </button>
            </div>
        </div>
    </div>
</ng-container>