<ng-template #loading>
    <div class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

<ng-container *ngIf="movie$ | async as movie; else loading">

    <div class="trailer-section">
        <h2>Watch Trailer</h2>

        <div class="trailer-wrapper">
            <iframe [src]="trailerUrl$ | async" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="details-container">

        <div class="details-left">
            <img [src]="movie.posterUrl" class="poster">
        </div>

        <div class="details-right">

            <h1>{{ movie.title }}</h1>

            <div class="meta-info">
                <span class="mpaa-badge">{{ movie.mpaaRating }}</span>
                <span class="genre">{{ movie.genre }}</span>
            </div>

            <div *ngIf="movie.imdbRating; else notReleased">
                <p-rating [ngModel]="movie.imdbRating / 2" [readonly]="true">
                </p-rating>

                <span>{{ movie.imdbRating }} / 10</span>
            </div>

            <ng-template #notReleased>
                <p>Not yet Released</p>
            </ng-template>

            <p class="description">{{ movie.description }}</p>

            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Producer:</strong> {{ movie.producer }}</p>

            <br>
            <br>
            <div class="booking-options">

                <div class="date-section">
                    <h3>Select Date</h3>

                    <p-datePicker [(ngModel)]="selectedDate" [minDate]="minDate" [maxDate]="maxDate"
                        dateFormat="mm/dd/yy" [showIcon]="true">
                    </p-datePicker>
                </div>

                <div class="showtime-section">
                    <h3>Select Show Time</h3>

                    <div class="showtime-options">

                        <label class="radio-option">
                            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="10:00 am"></p-radiobutton>
                            <span>10:00 am</span>
                        </label>

                        <label class="radio-option">
                            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="1:45 pm"></p-radiobutton>
                            <span>1:45 pm</span>
                        </label>

                        <label class="radio-option">
                            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="2:30 pm"></p-radiobutton>
                            <span>2:30 pm</span>
                        </label>

                        <label class="radio-option">
                            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="8:00 pm"></p-radiobutton>
                            <span>8:00 pm</span>
                        </label>

                    </div>

                </div>

            </div>

            <div class="book-button">
                <button pButton label="Book Tickets" icon="pi pi-ticket" [disabled]="!showTimes || !selectedDate"
                    (click)="goToBooking(movie.id)">
                </button>
            </div>

        </div>
    </div>

</ng-container>