<ng-template #loading>
    <div class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

<ng-container *ngIf="movie$ | async as movie; else loading">

    <div class="trailer-section">
        <h2>Watch Trailer</h2>

        <div class="trailer-wrapper">
            <iframe [src]="trailerUrl$ | async" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="details-container">

        <div class="details-left">
            <img [src]="movie.posterUrl" class="poster">
        </div>

        <div class="details-right">

            <h1>{{ movie.title }}</h1>

            <div class="meta-info">
                <span class="mpaa-badge">{{ movie.mpaaRating }}</span>
                <span class="genre">{{ movie.genre }}</span>
            </div>

            <div *ngIf="movie.imdbRating; else notReleased">
                <p-rating [ngModel]="movie.imdbRating / 2" [readonly]="true">
                </p-rating>

                <span>{{ movie.imdbRating }} / 10</span>
            </div>

            <ng-template #notReleased>
                <p>Not yet Released</p>
            </ng-template>

            <p class="description">{{ movie.description }}</p>

            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Producer:</strong> {{ movie.producer }}</p>

            <br>
            <br>

            <h1>Select Show Time:</h1>
            <br>
            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="10:00 am" inputId="time1"></p-radiobutton>
            <label for="time1" class="text-lg pr-4">10:00 am</label>
            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="1:45 pm" inputId="time2"></p-radiobutton>
            <label for="time2" class="text-lg pr-4">1:45 pm</label>
            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="2:30 pm" inputId="time3"></p-radiobutton>
            <label for="time3" class="text-lg pr-4">2:30 pm</label>
            <p-radiobutton name="showTimes" [(ngModel)]="showTimes" value="8:00 pm" inputId="time4"></p-radiobutton>
            <label for="time4" class="text-lg pr-4">8:00 pm</label>
            <br>
            <br>

            <button pButton label="Book Tickets" icon="pi pi-ticket" [disabled]="!showTimes"
                (click)="goToBooking(movie.id)">
            </button>

        </div>
    </div>

</ng-container>