<div class="auth-page">
  <div class="auth-container">

    <h2>Create Account</h2>
    <p class="subtitle">Join us and start booking tickets</p>

    <!-- BASIC INFO -->
    <div class="form-grid">

      <input pInputText [(ngModel)]="user.username" placeholder="Username" />
      <input pInputText [(ngModel)]="user.firstName" placeholder="First Name" />

      <input pInputText [(ngModel)]="user.lastName" placeholder="Last Name" />
      <input pInputText [(ngModel)]="user.email" placeholder="Email" />

      <input pInputText type="password" [(ngModel)]="user.password" placeholder="Password" />
      <input pInputText type="password" [(ngModel)]="user.confirmPassword" placeholder="Retype Password" />

      <input pInputText [(ngModel)]="user.phone" placeholder="Phone Number" />
      <p-datepicker [(ngModel)]="user.dateOfBirth" placeholder="03-15-1990" dateFormat="mm-dd-yy" [showIcon]="true">
      </p-datepicker>

    </div>

    <!-- PAYMENT -->
    <h3>Payment Information (Max 3)</h3>

    <div class="card-section">
      <input #cardInput pInputText placeholder="Enter Card" />
      <button pButton label="Add Card" (click)="addCard(cardInput.value)"></button>
    </div>

    <ul>
      <li *ngFor="let card of user.paymentCards">{{ card }}</li>
    </ul>

    <!-- ADDRESS -->
    <h3>Billing Address (Optional)</h3>

    <div class="form-grid">

      <input pInputText [(ngModel)]="user.street" placeholder="Street" />
      <input pInputText [(ngModel)]="user.city" placeholder="City" />

      <input pInputText [(ngModel)]="user.county" placeholder="County" />
      <input pInputText [(ngModel)]="user.state" placeholder="State" />

      <input pInputText [(ngModel)]="user.zip" placeholder="Zip Code" />

    </div>

    <!-- ACTION -->
    <button pButton label="Register" [loading]="loading" (click)="register()"></button>

    <p *ngIf="error" class="error">{{ error }}</p>
    <p *ngIf="success" class="success">{{ success }}</p>

    <div class="auth-switch">
      <p class="subtitle">Already have an account?</p>
      <a routerLink="/login">Login</a>
    </div>

  </div>
</div>