<ng-container>
  <h1>User Info</h1>

  <div *ngIf="loading">Loading profile...</div>
  <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
  <div *ngIf="saveMessage" style="color: green;">{{ saveMessage }}</div>

  <br>

  @if (disableUsrInfo) {
    <div class="card flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel variant="over">
        <label for="usrName">User Name</label>
        <input id="usrName" type="text" pInputText [disabled]="disableUsrInfo" [(ngModel)]="usrName" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="pswd">Password</label>
        <input id="pswd" type="password" pInputText [disabled]="disableUsrInfo" [(ngModel)]="password" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText [disabled]="true" [(ngModel)]="email" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="phoneNum">Phone Number</label>
        <input id="phoneNum" type="text" pInputText [disabled]="disableUsrInfo" [(ngModel)]="phoneNum" />
      </p-floatlabel>
    </div>

    <br><br>
    <p-button icon="pi pi-pencil" (click)="editUsrInfo()" label="Edit"></p-button>
  } @else {
    <div class="card flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel variant="over">
        <label for="usrName">User Name</label>
        <input id="usrName" type="text" pInputText [(ngModel)]="usrName" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="pswd">Password</label>
        <input id="pswd" type="password" pInputText [(ngModel)]="password" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText [disabled]="true" [(ngModel)]="email" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="phoneNum">Phone Number</label>
        <input id="phoneNum" type="text" pInputText [(ngModel)]="phoneNum" />
      </p-floatlabel>
    </div>

    <br><br>
    <p-button (click)="saveUsrInfo()" label="Save"></p-button>
  }

  <br><br>
  <a [routerLink]="['/order-history']"><p-button label="View Order History"></p-button></a>

  <br><br><br>
  <h1>Home Address</h1>
  <br>

  @if (disableHomeAdd) {
    <div class="card flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel variant="over">
        <label for="streetAdd">Street Address</label>
        <input id="streetAdd" type="text" pInputText [disabled]="disableHomeAdd" [(ngModel)]="usrAddress" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="county">County</label>
        <input id="county" type="text" pInputText [disabled]="disableHomeAdd" [(ngModel)]="usrCounty" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="state">State</label>
        <input id="state" type="text" pInputText [disabled]="disableHomeAdd" [(ngModel)]="usrState" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="zip">Zip Code</label>
        <input id="zip" type="text" pInputText [disabled]="disableHomeAdd" [(ngModel)]="usrZip" />
      </p-floatlabel>
    </div>

    <br><br>
    <p-button icon="pi pi-pencil" (click)="editAddInfo()" label="Edit"></p-button>
  } @else {
    <div class="card flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel variant="over">
        <label for="streetAdd">Street Address</label>
        <input id="streetAdd" type="text" pInputText [(ngModel)]="usrAddress" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="county">County</label>
        <input id="county" type="text" pInputText [(ngModel)]="usrCounty" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="state">State</label>
        <input id="state" type="text" pInputText [(ngModel)]="usrState" />
      </p-floatlabel>

      <p-floatlabel variant="over">
        <label for="zip">Zip Code</label>
        <input id="zip" type="text" pInputText [(ngModel)]="usrZip" />
      </p-floatlabel>
    </div>

    <br><br>
    <p-button (click)="saveAddInfo()" label="Save"></p-button>
  }

  <br>
    <br>
    <br>
    <h1>Payment Info</h1>
    <h3>You may store up to 3 cards</h3>
    <br>

    @for (card of cardArr; track card.id) {
        <br>
        <h3>Cardholder Name</h3>
        <input id="cardName" type="text" pInputText [disabled]="true"/>
        <h3>Card Number</h3>
        <input id="cardNum" type="text" pInputText [disabled]="true"/>
        <h3>Expiration Date</h3>
         <input id="cardDate" type="text" pInputText [disabled]="true"/>
        <h2>Billing Address:</h2>
        <h3>Street Address</h3>
        <input id="cardAdd" type="text" pInputText [disabled]="true"/>
        <h3>County</h3>
        <input id="cardCounty" type="text" pInputText [disabled]="true"/>
        <h3>State</h3>
        <input id="cardState" type="text" pInputText [disabled]="true"/>
        <h3>Zip Code</h3>
        <input id="cardZip" type="text" pInputText [disabled]="true"/>
        <br>
        <br>
        <p-button (click)="showEditModal()">Edit Card Info</p-button>
        <br>
        <br>
        <p-button (click)="removePaymentCard(card.id)">Remove Card</p-button>
    }
     
    
    @if (clickCard) {
    <!-- <h3>Card Type</h3> -->
    <h3>Cardholder Name</h3>
    <input id="cardName" type="text" pInputText [disabled]="true"/>
    <h3>Card Number</h3>
    <input id="cardNum" type="text" pInputText [disabled]="true"/>
    <h3>Expiration Date</h3>
    <input id="cardDate" type="text" pInputText [disabled]="true"/>
    <h2>Billing Address:</h2>
    <h3>Street Address</h3>
    <input id="cardAdd" type="text" pInputText [disabled]="true"/>
    <h3>County</h3>
    <input id="cardCounty" type="text" pInputText [disabled]="true"/>
    <h3>State</h3>
    <input id="cardState" type="text" pInputText [disabled]="true"/>
    <h3>Zip Code</h3>
    <input id="cardZip" type="text" pInputText [disabled]="true"/>
    <br>
    <br>
    <p-button (click)="addPaymentCard()">Save Card</p-button>
    } @else if (cardLimit) {
        <p-dialog [(visible)]="cardLimit" [modal]="true" [closable]="true">
            <p>
                You have reached the limit of 3 cards that can be saved.
            </p>
        </p-dialog>
    }
    <br>
    <br>
    <p-button (click)="clickNewCard()">Add New Card</p-button> 

    <!--Edit Dialog Modal-->
    <div class="card flex flex-column justify-center">
    <p-dialog [(visible)]="showModal" [modal]="true" [closable]="true" [style]="{ width: '35rem'}">
        <ng-template #header>
            <p class="mb-5">Edit Your Card Info</p>
        </ng-template>
        <div class="flex flex-column gap-4 mb-4">
            <div class="flex align-items-center gap-4 mb-4">
            <label for="cardName" class="font-semibold w-24">Cardholder Name</label>
            <input id="cardName" type="text" pInputText [disabled]="false"/>
            </div>
            <div class="flex align-items-center gap-4 mb-4">
            <label for="cardNum" class="font-semibold w-24">Card Number</label>
            <input id="cardNum" type="text" pInputText [disabled]="false"/>
            </div>
            <div class="flex items-center gap-4 mb-4">
            <label for="cardDate" class="font-semibold w-24">Expiration Date</label>
            <input id="cardDate" type="text" pInputText [disabled]="false"/>
            </div>
            <div class="flex items-center gap-4 mb-4">
            <label for="cardAdd" class="font-semibold w-24">Street Address</label>
            <input id="cardAdd" type="text" pInputText [disabled]="false"/>
            </div>  
            <div class="flex items-center gap-4 mb-4">
            <label for="cardCountry" class="font-semibold w-24">County</label>
            <input id="cardCounty" type="text" pInputText [disabled]="false"/>
            </div>  
            <div class="flex items-center gap-4 mb-4">
            <label for="cardState" class="font-semibold w-24">State</label>
            <input id="cardState" type="text" pInputText [disabled]="false"/>
            </div>
            <div class="flex items-center gap-4 mb-4">
            <label for="cardZip" class="font-semibold w-24">Zip Code</label>
            <input id="cardZip" type="text" pInputText [disabled]="false"/>
            </div> 
        </div>
        <ng-template #footer>
            <p-button (click)="editCard()" label="Update Card Info"/>
        </ng-template>
    </p-dialog>
</div>
    
    <br>
    <br>
    <br>
    <h1>Promotion Settings</h1>
    <br>
    <p-checkbox inputId="check" [(ngModel)]="promotions" [binary]="true"/>
    <label for="check" class="checkboxLabel">Check if you would like to recieve promotions</label>

</ng-container>