<div class="auth-page">

    <div class="auth-card">
  
      <h2>Change Password</h2>
      <p class="subtitle">Enter your old password to reset</p>
  
      <div class="p-fluid">
  
        <div class="field">
          <input pInputText [(ngModel)]="email" placeholder="Email" />
        </div>
  
        <div class="field">
          <input pInputText type="password" [(ngModel)]="oldPassword" placeholder="Old Password" />
        </div>

        <div class="field">
            <input pInputText type="password" [(ngModel)]="newPassword" placeholder="New Password" />
        </div>

        <div class="field">
            <input pInputText type="password" [(ngModel)]="newPassword2" placeholder="Confirm Password" />
        </div>
        
        @if (showError) {
            <p class="error-text">Your new password must match</p>
        }

        <!-- Retrieve email and check the corresponding password in DB with what is given here -->

        <!-- @if (oldInvalid) {
            <p class="error-text">Your old password is invalid</p>
        } -->
        
        <button pButton type="button" label="Submit" (click)="submitPass()"></button>

      </div>
  
    </div>
  
  </div>